<TMPL_INCLUDE NAME="_head.html">
	<script type="text/javascript" src="<TMPL_VAR NAME="RESOURCES_URL">/js/tabbed_pane.js"></script>
	<h2>
		<TMPL_VAR NAME="PAGE_TITLE">
	</h2>
	<TMPL_IF NAME="UPDATE_CHECK_FAILED">
		<div id="update-information">
			<p><TMPL_VAR NAME="UPDATE_CHECK_FAILED_TEXT"></p>
			<blockquote><TMPL_VAR NAME="UPDATE_CHECK_ERROR_MESSAGE"></blockquote>
		</div>
	<TMPL_ELSE>
		<TMPL_IF NAME="UPDATE_AVAILABLE">
			<div id="update-information">
				<a href="<TMPL_VAR NAME="UPDATE_URL">"><TMPL_VAR NAME="UPDATE_AVAILABLE_TEXT">
				<TMPL_VAR NAME="UPDATE_LINK_TEXT"></a>
			</div>
		</TMPL_IF>
	</TMPL_IF>
	<ul id="admin-navigation" class="tabbed-pane-header"><li><TMPL_IF NAME="APPROVE_QUOTES_ALLOWED"><a
		href="#approve-quotes" id="tab-approve-quotes"><TMPL_VAR NAME="APPROVE_QUOTES"></a></li></TMPL_IF><TMPL_IF NAME="FLAGGED_QUOTES_ALLOWED"><li><a
		href="#flagged-quotes" id="tab-flagged-quotes"><TMPL_VAR NAME="FLAGGED_QUOTES"></a></li></TMPL_IF><TMPL_IF NAME="MANAGE_QUOTES_ALLOWED"><li><a
		href="#manage-quotes" id="tab-manage-quotes"><TMPL_VAR NAME="MANAGE_QUOTES"></a></li></TMPL_IF><TMPL_IF NAME="MANAGE_NEWS_ALLOWED"><li><a
		href="#manage-news" id="tab-manage-news"><TMPL_VAR NAME="MANAGE_NEWS"></a></li></TMPL_IF><TMPL_IF NAME="VIEW_EVENT_LOG_ALLOWED"><li><a
		href="#view_event_log" id="tab-view-event-log"><TMPL_VAR NAME="VIEW_EVENT_LOG"></a></li></TMPL_IF><TMPL_IF NAME="MANAGE_ACCOUNTS_ALLOWED"><li><a
		href="#manage_accounts" id="tab-manage-accounts"><TMPL_VAR NAME="MANAGE_ACCOUNTS"></a></li></TMPL_IF><li><a
		href="#change-password" id="tab-change-password"><TMPL_VAR NAME="CHANGE_PASSWORD"></a></li></ul>
	<ul id="admin-contents" class="tabbed-pane-contents"><TMPL_IF NAME="APPROVE_QUOTES_ALLOWED">
		<li id="approve-quotes">
			<h3 class="tab-title"><TMPL_VAR NAME="APPROVE_QUOTES"></h3>
			<TMPL_VAR NAME="APPROVE_QUOTES_HTML">
		</li></TMPL_IF><TMPL_IF NAME="FLAGGED_QUOTES_ALLOWED"><li id="flagged-quotes">
			<h3 class="tab-title"><TMPL_VAR NAME="FLAGGED_QUOTES"></h3>
			<TMPL_VAR NAME="FLAGGED_QUOTES_HTML">
		</li></TMPL_IF><TMPL_IF NAME="MANAGE_QUOTES_ALLOWED"><li id="manage-quotes">
			<h3 class="tab-title"><TMPL_VAR NAME="MANAGE_QUOTES"></h3>
			<TMPL_VAR NAME="MANAGE_QUOTES_HTML">
		</li></TMPL_IF><TMPL_IF NAME="MANAGE_NEWS_ALLOWED"><li id="manage-news">
			<h3 class="tab-title"><TMPL_VAR NAME="MANAGE_NEWS"></h3>
			<TMPL_VAR NAME="MANAGE_NEWS_HTML">
		</li></TMPL_IF><TMPL_IF NAME="VIEW_EVENT_LOG_ALLOWED"><li id="view-event-log">
			<h3 class="tab-title"><TMPL_VAR NAME="VIEW_EVENT_LOG"></h3>
			<TMPL_VAR NAME="VIEW_EVENT_LOG_HTML">
		</li></TMPL_IF><TMPL_IF NAME="MANAGE_ACCOUNTS_ALLOWED"><li id="manage-accounts">
			<h3 class="tab-title"><TMPL_VAR NAME="MANAGE_ACCOUNTS"></h3>
			<TMPL_VAR NAME="MANAGE_ACCOUNTS_HTML">
		</li></TMPL_IF><li id="change-password">
			<h3 class="tab-title"><TMPL_VAR NAME="CHANGE_PASSWORD"></h3>
			<TMPL_VAR NAME="CHANGE_PASSWORD_HTML">
		</li></ul>
	<script type="text/javascript">initializeTabbedPane('admin'
		<TMPL_IF NAME="ACTION_IS_QUOTE_FLAGS"   >, document.getElementById('tab-flagged-quotes')</TMPL_IF>
		<TMPL_IF NAME="ACTION_IS_QUOTE_EDIT"    >, document.getElementById('tab-manage-quotes')</TMPL_IF>
		<TMPL_IF NAME="ACTION_IS_QUOTE_REMOVE"  >, document.getElementById('tab-manage-quotes')</TMPL_IF>
		<TMPL_IF NAME="ACTION_IS_NEWS_ADD"      >, document.getElementById('tab-manage-news')</TMPL_IF>
		<TMPL_IF NAME="ACTION_IS_NEWS_EDIT"     >, document.getElementById('tab-manage-news')</TMPL_IF>
		<TMPL_IF NAME="ACTION_IS_NEWS_REMOVE"   >, document.getElementById('tab-manage-news')</TMPL_IF>
		<TMPL_IF NAME="ACTION_IS_LOG"           >, document.getElementById('tab-view-event-log')</TMPL_IF>
		<TMPL_IF NAME="ACTION_IS_ACCOUNTS"      >, document.getElementById('tab-manage-accounts')</TMPL_IF>
		<TMPL_IF NAME="ACTION_IS_PASSWORD"      >, document.getElementById('tab-change-password')</TMPL_IF>
	);</script>
<TMPL_INCLUDE NAME="_foot.html">