<TMPL_INCLUDE NAME="_head.html">
	<!--[if IE]><script type="text/javascript" src="<TMPL_VAR NAME="RESOURCES_URL">/js/excanvas/excanvas.js"></script><![endif]-->
	<script type="text/javascript" src="<TMPL_VAR NAME="RESOURCES_URL">/js/graph.js"></script>
	<h2>
		<TMPL_VAR NAME="PAGE_TITLE">
	</h2>
	<h3><TMPL_VAR NAME="QUOTES_BY_DATE_TITLE"></h3>
	<dl class="ogive-data label-count-7" id="quotes-by-date">
	<TMPL_LOOP NAME="QUOTES_BY_DATE">
		<dt><TMPL_VAR NAME="DATE"></dt>
		<dd><TMPL_VAR NAME="QUOTE_COUNT"></dd>
	</TMPL_LOOP>
	</dl>
	<h3><TMPL_VAR NAME="QUOTES_BY_HOUR_TITLE"></h3>
	<dl class="bar-chart-data" id="quotes-by-hour">
	<TMPL_LOOP NAME="QUOTES_BY_HOUR">
		<dt title="<TMPL_VAR NAME="START_HOUR">"><TMPL_VAR NAME="START_HOUR">:00&ndash;<TMPL_VAR NAME="END_HOUR">:00</dt>
		<dd><TMPL_VAR NAME="QUOTE_COUNT"></dd>
	</TMPL_LOOP>
	</dl>
	<h3><TMPL_VAR NAME="QUOTES_BY_WEEK_DAY_TITLE"></h3>
	<dl class="bar-chart-data" id="quotes-by-week-day">
	<TMPL_LOOP NAME="QUOTES_BY_WEEK_DAY">
		<dt><TMPL_VAR NAME="WEEK_DAY"></dt>
		<dd><TMPL_VAR NAME="QUOTE_COUNT"></dd>
	</TMPL_LOOP>
	</dl>
	<h3><TMPL_VAR NAME="QUOTES_BY_DAY_TITLE"></h3>
	<dl class="bar-chart-data" id="quotes-by-day">
	<TMPL_LOOP NAME="QUOTES_BY_DAY">
		<dt><TMPL_VAR NAME="DAY"></dt>
		<dd><TMPL_VAR NAME="QUOTE_COUNT"></dd>
	</TMPL_LOOP>
	</dl>
	<h3><TMPL_VAR NAME="QUOTES_BY_MONTH_TITLE"></h3>
	<dl class="bar-chart-data" id="quotes-by-month">
	<TMPL_LOOP NAME="QUOTES_BY_MONTH">
		<dt title="<TMPL_VAR NAME="MONTH_NAME_SHORT">"><TMPL_VAR NAME="MONTH_NAME"></dt>
		<dd><TMPL_VAR NAME="QUOTE_COUNT"></dd>
	</TMPL_LOOP>
	</dl>
	<h3><TMPL_VAR NAME="QUOTES_BY_RATING_TITLE"></h3>
	<dl class="bar-chart-data label-count-13" id="quotes-by-rating">
	<TMPL_LOOP NAME="QUOTES_BY_RATING">
		<dt><TMPL_VAR NAME="RATING"></dt>
		<dd><TMPL_VAR NAME="QUOTE_COUNT"></dd>
	</TMPL_LOOP>
	</dl>
	<h3><TMPL_VAR NAME="QUOTES_BY_VOTE_COUNT_TITLE"></h3>
	<dl class="bar-chart-data label-count-17" id="quotes-by-vote-count">
	<TMPL_LOOP NAME="QUOTES_BY_VOTE_COUNT">
		<dt><TMPL_VAR NAME="VOTE_COUNT"></dt>
		<dd><TMPL_VAR NAME="QUOTE_COUNT"></dd>
	</TMPL_LOOP>
	</dl>
<TMPL_INCLUDE NAME="_foot.html">